.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.active {
  background: aquamarine;
}

.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}

.is-done {
  opacity: 50%;
}
